/*Code I believe I don't need v */

body {
    margin: 0;
}

#grid-setup {
    height: 1000px;
    width: 1600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#panel-area {
    grid-column: 2/8;
    grid-row: 2/8;
    background-color: beige;
    /*Code I believe I don't need ^ */
    /*copied v*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*copied ^*/
}


/*Code I believe I don't need v */

#initial-panel {
    grid-column: 1/5;
    grid-row: 1/5;
    background-color: royalblue;
}

#slide-panel {
    width: 100%;
    grid-column: 5/11;
    grid-row: 1/5;
    color: white;
    font-family: Courier New, Courier, monospace;
    background-color: black;
    background-image: url(http://i.imgur.com/IL9nJ3d.png);
    font-family: Courier New, Courier, monospace;
}

#coverup {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    height: 30px;
    width: 550px;
    overflow: hidden;
    z-index: 0;
}


/*Code I believe I don't need ^ */

#terminal-line-1 {
    margin: 10px 0 0 60px;
    height: 20px;
}

.underneath {
    color: rgb(64, 227, 156);
    font-family: "Courier";
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

#terminal-line-2 {
    margin: 10px 0 0 110px;
    height: 50px;
}


/*Code that isn't copied v */

#terminal-line-3 {
    margin: 10px 0 0 240px;
    height: 75px;
}

#terminal-line-4 {
    margin: 10px 0 0 20px;
    height: 110px;
}

#terminal-line-5 {
    margin: 10px 0 0 20px;
    height: 130px;
}


/*Code that isn't copied ^ */

@keyframes type {
    from {
        color: transparent;
        width: 0;
    }
    10% {
        color: rgb(64, 227, 156);
    }
    to {
        color: rgb(64, 227, 156);
    }
}

.blinking {
    position: relative;
    margin: 10px;
    height: 20px;
    width: 20px;
    font-weight: 100;
    font-size: 30px;
    background-color: transparent;
}

.blinking2 {
    position: relative;
    top: 60px;
    height: 20px;
    width: 20px;
    font-weight: 100;
    font-size: 30px;
    background-color: transparent;
}

@keyframes slidein {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes slideout {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0% {
        background-color: rgb(49, 254, 131);
    }
    50% {
        background-color: transparent;
    }
}

@keyframes blinkmove {
    0% {
        background-color: rgb(49, 254, 131);
        left: 0px;
    }
    15% {
        background-color: rgb(49, 254, 131);
    }
    19% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: transparent;
    }
    55% {
        background-color: rgb(49, 254, 131);
    }
    65% {
        background-color: rgb(49, 254, 131);
    }
    67% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
        left: 500px;
    }
}


/* Aqua Marine Fallout Text - rgb(64,227,156) */


/*Spring Green - rgb(49,254,131) */