    @media screen and (min-width: 1024px) {
        body {
            margin: 0;
        }
        #grid-wrapper {
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
            grid-template-rows: 10% 10% 10% 10% 10% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
            height: 6000px;
            width: 100%;
            background-color: beige;
        }
        #lander-wrapper {
            grid-column: 1/11;
            grid-row: 1/3;
            height: 100%;
            width: 100%;
            background-image: url(https://images2.alphacoders.com/633/633149.jpg);
            background-position: 50% 0px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
        }
        #title-show-me-what-you-got {
            grid-column: 2/8;
            grid-row: 2/5;
            width: 100%;
        }
        #img-rick-fall {
            grid-column: 1/4;
            grid-row: 4/8;
        }
        #img-cromulon {
            grid-column: 7/8;
            grid-row: 4/6;
            height: 250px;
            transform: scaleX(-1);
            float: right;
        }
        #projects {
            grid-column: 2/10;
            grid-row: 3/6;
            height: 100%;
            width: 100%;
            background-color: white;
            display: grid;
            grid-template-columns: 5% 5% 10% 10% 10% 10% 10% 10% 10% 10% 5% 5%;
            grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        }
        #project-title {
            grid-column: 2/4;
            grid-row: 1/2;
            font-family: 'Roboto Slab', serif;
            font-size: 3em;
            display: flex;
            align-self: flex-end;
        }
        #solo-projects {
            grid-column: 1/13;
            grid-row: 2/10;
            /* background-color: pink; */
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
            grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        }
        #solo-player {
            grid-column: 1/3;
            grid-row: 2/5;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        .bg-oval {
            height: 400px;
            width: 200px;
            border-radius: 100px / 200px;
            background-image: linear-gradient(360deg, transparent 50%, #525252 50%);
            display: flex;
            justify-content: center;
        }
        #img-morty-solo {
            height: 350px;
        }
        #solo-title {
            grid-column: 1/3;
            grid-row: 5/6;
            height: 60px;
            width: 100%;
            border-radius: 5px 25px 25px 5px;
            background-color: black;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: white;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #solo-description {
            grid-column: 1/3;
            grid-row: 6/11;
            background-color: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        #stack {
            grid-column: 1/9;
            grid-row: 1/4;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
        #stack-type {
            grid-column: 1/3;
            grid-row: 1/2;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5em;
            height: 100%;
            width: 97%;
            border: 5px solid black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .language-badges {
            grid-column: 1/3;
            grid-row: 3/7;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .language-circle {
            height: 50px;
            width: 50px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .language-icon {
            grid-row: 3/4;
            height: 40px;
            width: 40px;
        }
        #icon-css3 {
            margin-top: 5px;
            height: 45px;
            width: 45px;
        }
        .empty-icon {
            height: 45px;
            width: 55px;
        }
        #tools {
            grid-column: 1/9;
            grid-row: 4/ 9;
            height: 90%;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
        #tool-title {
            grid-column: 1/3;
            grid-row: 1/2;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5em;
            height: 100%;
            width: 97%;
            border: 5px solid black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tools-list {
            grid-column: 1/3;
            grid-row: 2/5;
            font-family: 'Roboto', sans-serif;
            font-size: 1.3em;
            display: grid;
            grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
            grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        }
        #bullet-point-1 {
            grid-column: 2/3;
            grid-row: 5/6;
        }
        #tool-1 {
            grid-column: 4/5;
            grid-row: 5/6;
        }
        #bullet-point-2 {
            grid-column: 11/12;
            grid-row: 5/6;
        }
        #tool-2 {
            grid-column: 13/15;
            grid-row: 5/6;
        }
        .arrow-bullet-point {
            height: 20px;
            width: 20px;
        }
        #project-box-1 {
            grid-column: 4/11;
            grid-row: 2/11;
        }
        .project-box {
            background-color: goldenrod;
            display: grid;
            grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
            grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        }
        .project-show-1 {
            grid-column: 1/11;
            grid-row: 1/10;
            background-color: white;
            border: 5px solid black;
        }
        .project-show-1 {
            grid-column: 1/11;
            grid-row: 1/10;
            background-color: white;
            border: 5px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project-show-1 img {
            max-height: 90%;
            max-width: 90%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .project-show-1:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        #google-calculator-clone {
            height: 100%;
            width: 100%;
        }
        .project-show-2 {
            grid-column: 11/21;
            grid-row: 1/10;
            background-color: cyan;
            border: 5px solid silver;
        }
        .project-show-3 {
            grid-column: 1/11;
            grid-row: 12/21;
            background-color: red;
        }
        .project-show-4 {
            grid-column: 11/21;
            grid-row: 12/21;
            background-color: skyblue;
        }
        #coop-player {
            grid-column: 1/3;
            grid-row: 12/15;
            display: flex;
            justify-content: center;
        }
        #img-rick-and-morty {
            height: 225px;
        }
        #coop-title {
            grid-column: 1/3;
            grid-row: 15/16;
            height: 60px;
            width: 100%;
            border-radius: 5px 25px 25px 5px;
            background-color: black;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: white;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #coop-description {
            grid-column: 1/3;
            grid-row: 16/21;
            background-color: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        #mongodb-icon {
            height: 55px;
            width: 55px;
        }
        #bullet-point-3 {
            grid-column: 2/3;
            grid-row: 12/13;
        }
        #tool-3 {
            grid-column: 4/5;
            grid-row: 12/13;
        }
        #bullet-point-4 {
            grid-column: 11/12;
            grid-row: 12/13;
        }
        #tool-4 {
            grid-column: 13/15;
            grid-row: 12/13;
        }
        #bullet-point-5 {
            grid-column: 2/3;
            grid-row: 19/20;
        }
        #tool-5 {
            grid-column: 4/5;
            grid-row: 19/20;
        }
        #bullet-point-6 {
            grid-column: 11/12;
            grid-row: 19/20;
        }
        #tool-6 {
            grid-column: 13/15;
            grid-row: 19/20;
        }
        #project-box-2 {
            grid-column: 4/11;
            grid-row: 12/21;
        }
        #personal-progress {
            grid-column: 2/10;
            grid-row: 6/11;
            height: 100%;
            width: 100%;
            background-color: skyblue;
        }
        #idea-gen {
            grid-column: 2/10;
            grid-row: 11/14;
            height: 100%;
            width: 100%;
            background-color: yellowgreen;
        }
        #footer {
            height: 300px;
            width: 100%;
            background-color: rgb(70, 122, 149);
            display: flex;
        }
        #footer-left-padding {
            width: 5%;
        }
        #img-jerry-portal {
            position: absolute;
            margin: 25px 0 25px 0;
            height: 250px;
        }
        #img-portal-shot {
            margin: 25px 25px;
            height: 250px;
            width: 37.5%;
        }
        #social-media {
            grid-column: 2/3;
            grid-row: 5/6;
            /* height: 100px; */
            width: 55%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        #contact-name {
            grid-column: 1/4;
            grid-row: 2/3;
            width: 250px;
            height: 100%;
            color: white;
            font-family: 'Roboto Slab', serif;
            font-size: 1.1em;
            letter-spacing: 0.12em;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        #contact-info {
            grid-column: 1/4;
            grid-row: 3/8;
            width: 250px;
            font-family: 'Roboto', sans-serif;
            font-size: 0.9em;
            text-align: center;
        }
        #phone-number {
            margin-top: 10px;
            height: 25px;
            width: 100%;
            letter-spacing: 0.12em;
            color: rgb(235, 235, 235);
        }
        #email-info {
            margin-top: 20px;
            height: 25px;
            width: 100%;
            letter-spacing: 0.12em;
            color: rgb(211, 211, 211);
        }
        #address {
            width: 100%;
            height: 90px;
            letter-spacing: 0.12em;
            color: rgb(235, 235, 235)
        }
        #address ul {
            list-style-type: none;
            padding-left: 20px;
        }
        #address li {
            list-style-type: none;
            padding: 2.5px 0px 2.5px 0px
        }
        #social-name {
            grid-column: 6/9;
            grid-row: 2/3;
            width: 100%;
            height: 100%;
            font-family: 'Roboto Slab', serif;
            font-size: 1.1em;
            letter-spacing: 0.12em;
            color: white;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        #social-icons {
            grid-column: 6/9;
            grid-row: 3/5;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .social-media-icon {
            height: 40px;
            width: 40px;
        }
        #event-name {
            grid-column: 6/9;
            grid-row: 6/7;
            width: 100%;
            height: 100%;
            color: white;
            font-family: 'Roboto Slab', serif;
            font-size: 1.1em;
            letter-spacing: 0.12em;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        #event-icons {
            grid-column: 6/9;
            grid-row: 7/8;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #icon-centralise {
            width: 150px;
            display: flex;
            justify-content: space-around;
        }
        @keyframes darken {
            from {
                opacity: 0
            }
            to {
                opacity: 0.3
            }
        }
    }