//color palette
$steel-blue:rgb(50, 88, 107);
$cornflour-blue: rgb(60, 105, 128);
$sky-blue: rgb(135, 206, 235);
$silver: rgb(192, 192, 192);
$lime-green: rgb(64, 227, 156);
$white: white;
$black: black;
$border-black: 5px solid black;
//fonts
$roboto:'Roboto',
sans-serif;
$roboto-slab: 'Roboto Slab',
serif;
$courier: 'Courier',
sans-serif;
// measurements
$full-circle: 50%;
$shaved-borders: 20px;