// MIXINS
//offsets background, works with .js to give parallax effect
@mixin parallax {
    background-position: 50% 0px;
}

@mixin flex {
    height: 250px;
    display: flex;
}

@mixin title {
    font-family: $roboto-slab;
    font-size: 1.5em;
}

@mixin space-around-text {
    font-family: $roboto;
    letter-spacing: 0.05em;
    padding-top: 0.5em;
    margin: 0px 0px 15px 15px;
}